/* DEFAULT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* APP */
#root {
  padding: 10px;
}
.application_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application_card {
  border: 0.5px solid rgba(0, 0, 0, 0.479);
  padding: 10px;
}

button {
  border: 1px solid black;
  padding: 5px;
}
